.navbar-inverse{
  -webkit-backdrop-filter: blur(1.3px);
  backdrop-filter: blur(1.3px);
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

  .navbar-nav > li > a{
    color: $navy-blue!important;

    &:hover, &:focus{
      color: $hover-dark;
    }
  }

  .navbar-toggle{
    color:$blue;
  }
}

.product-menu {
  .sidebar-header {
    span {
      &.company-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 220px;
        overflow: hidden;
        display: inline-block;
        height: 23px;
      }
    }
  }
}