@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vg5erg');
  src:  url('fonts/icomoon.eot?vg5erg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vg5erg') format('truetype'),
    url('fonts/icomoon.woff?vg5erg') format('woff'),
    url('fonts/icomoon.svg?vg5erg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-posti:before {
  content: "\e9ac";
}
.icomoon-cestino:before {
  content: "\e900";
}
.icomoon-survey:before {
  content: "\e901";
}
.icomoon-forum:before {
  content: "\e902";
}
.icomoon-wiki:before {
  content: "\e903";
}
.icomoon-calendario:before {
  content: "\e904";
}
.icomoon-preferiti:before {
  content: "\e905";
}
.icomoon-documenti2:before {
  content: "\e90c";
}
.icomoon-task:before {
  content: "\e90d";
}
.icomoon-home2:before {
  content: "\e90e";
}
.icomoon-contatti:before {
  content: "\e90f";
}
.icomoon-community:before {
  content: "\e910";
}
.icomoon-preferiti2:before {
  content: "\e919";
}
.icomoon-spazi_personali:before {
  content: "\e91a";
}
.icomoon-gruppi_di_lavoro:before {
  content: "\e920";
}
.icomoon-documenti:before {
  content: "\e921";
}
.icomoon-to_do_list:before {
  content: "\e922";
}
.icomoon-la_mia_home:before {
  content: "\e923";
}
.icomoon-user:before {
  content: "\e911";
}
.icomoon-search:before {
  content: "\e906";
}
.icomoon-apps:before {
  content: "\e907";
}
.icomoon-notification:before {
  content: "\e908";
}
.icomoon-favourites:before {
  content: "\e909";
}
.icomoon-exit:before {
  content: "\e924";
}
.icomoon-vai:before {
  content: "\e92b";
}
.icomoon-user3:before {
  content: "\e925";
}
.icomoon-convenzioni-post-blu:before {
  content: "\e92c";
}
.icomoon-mepa:before {
  content: "\e926";
}
.icomoon-ferie-festivita:before {
  content: "\e927";
}
.icomoon-straordinari:before {
  content: "\e928";
}
.icomoon-buoni-pasto:before {
  content: "\e929";
}
.icomoon-timbrature:before {
  content: "\e92d";
}
.icomoon-fax:before {
  content: "\e92e";
}
.icomoon-rubrica-tel:before {
  content: "\e92f";
}
.icomoon-profilo-mobile:before {
  content: "\e930";
}
.icomoon-ico-r:before {
  content: "\e931";
}
.icomoon-ico-a:before {
  content: "\e91f";
}
.icomoon-rubrica:before {
  content: "\e91d";
}
.icomoon-requests:before {
  content: "\e91e";
}
.icomoon-mail:before {
  content: "\e91b";
}
.icomoon-protocollo:before {
  content: "\e91c";
}
.icomoon-ufficio-passi:before {
  content: "\e90a";
}
.icomoon-banche-dati:before {
  content: "\e90b";
}
.icomoon-rassegna-stampa:before {
  content: "\e932";
}
.icomoon-ico-requests:before {
  content: "\e933";
}
.icomoon-settings:before {
  content: "\e934";
}
.icomoon-retweet:before {
  content: "\e935";
}
.icomoon-comment:before {
  content: "\e93c";
}
.icomoon-quotation-marks-open:before {
  content: "\e93d";
}
.icomoon-quotation-marks-close:before {
  content: "\e93e";
}
.icomoon-camera-multim:before {
  content: "\e93f";
}
.icomoon-video-multim:before {
  content: "\e940";
}
.icomoon-info:before {
  content: "\e941";
}
.icomoon-pin:before {
  content: "\e942";
}
.icomoon-time:before {
  content: "\e913";
}
.icomoon-e-mail:before {
  content: "\e914";
}
.icomoon-phone:before {
  content: "\e915";
}
.icomoon-location:before {
  content: "\e916";
}
.icomoon-whisteblowing:before {
  content: "\e92a";
}
.icomoon-social-twitter:before {
  content: "\e917";
}
.icomoon-social-telegram:before {
  content: "\e918";
}
.icomoon-social-instagram:before {
  content: "\e943";
}
.icomoon-social-youtube:before {
  content: "\e944";
}
.icomoon-social-flickr:before {
  content: "\e945";
}
.icomoon-star-color:before {
  content: "\e946";
}
.icomoon-plus:before {
  content: "\e94e";
}
.icomoon-alert:before {
  content: "\e94f";
}
.icomoon-vedi-dark:before {
  content: "\e950";
}
.icomoon-edi:before {
  content: "\e951";
}
.icomoon-delete:before {
  content: "\e952";
}
.icomoon-edit-border:before {
  content: "\e953";
}
.icomoon-star-border:before {
  content: "\e954";
}
.icomoon-add-border:before {
  content: "\e936";
}
.icomoon-send-mail:before {
  content: "\e937";
}
.icomoon-edit-tools:before {
  content: "\e938";
}
.icomoon-star:before {
  content: "\e939";
}
.icomoon-home:before {
  content: "\e93a";
}
.icomoon-download:before {
  content: "\e93b";
}
.icomoon-calendar:before {
  content: "\e912";
}
.icomoon-pdf:before {
  content: "\e955";
}
.icomoon-arrow:before {
  content: "\e956";
}
.icomoon-categoria-generale:before {
  content: "\e957";
}
.icomoon-calendar-date:before {
  content: "\e958";
}
.icomoon-visits:before {
  content: "\e95f";
}
.icomoon-chiudi-dark:before {
  content: "\e960";
}
.icomoon-link-button:before {
  content: "\e961";
}
.icomoon-close-white:before {
  content: "\e962";
}
.icomoon-arrow-dx:before {
  content: "\e963";
}
.icomoon-personalizza:before {
  content: "\e964";
}
.icomoon-play:before {
  content: "\e965";
}
.icomoon-reduct-screen:before {
  content: "\e947";
}
.icomoon-fullscreen:before {
  content: "\e948";
}
.icomoon-pause:before {
  content: "\e949";
}
.icomoon-update:before {
  content: "\e94a";
}
.icomoon-hourglass:before {
  content: "\e94b";
}
.icomoon-success-blu:before {
  content: "\e94c";
}
.icomoon-riunione-wait:before {
  content: "\e94d";
}
.icomoon-riunione-ok:before {
  content: "\e966";
}
.icomoon-riunione-ko:before {
  content: "\e968";
}
.icomoon-print:before {
  content: "\e969";
}
.icomoon-meeting:before {
  content: "\e96a";
}
.icomoon-cancel:before {
  content: "\e972";
}
.icomoon-riunione-alert:before {
  content: "\e973";
}
.icomoon-sollecito-mail:before {
  content: "\e974";
}
.icomoon-convocanti:before {
  content: "\e975";
}
.icomoon-location2:before {
  content: "\e976";
}
.icomoon-dati:before {
  content: "\e977";
}
.icomoon-stato:before {
  content: "\e978";
}
.icomoon-invitati:before {
  content: "\e959";
}
.icomoon-pin-white-bold:before {
  content: "\e95a";
}
.icomoon-success:before {
  content: "\e95b";
}
.icomoon-evoluzione-stato:before {
  content: "\e95c";
}
.icomoon-trash:before {
  content: "\e967";
}
.icomoon-video-file:before {
  content: "\e95d";
}
.icomoon-setting-file:before {
  content: "\e95e";
}
.icomoon-zip-file:before {
  content: "\e979";
}
.icomoon-generic-file:before {
  content: "\e97a";
}
.icomoon-image-file:before {
  content: "\e97b";
}
.icomoon-pdf-file:before {
  content: "\e97c";
}
.icomoon-ppt-file:before {
  content: "\e983";
}
.icomoon-word-file:before {
  content: "\e984";
}
.icomoon-xls-file:before {
  content: "\e986";
}
.icomoon-audio-file:before {
  content: "\e987";
}
.icomoon-ministero:before {
  content: "\e988";
}
.icomoon-dipartimento:before {
  content: "\e989";
}
.icomoon-less:before {
  content: "\e98a";
}
.icomoon-link-utili:before {
  content: "\e96b";
}
.icomoon-cultura:before {
  content: "\e96c";
}
.icomoon-sport-tempo-libero:before {
  content: "\e96d";
}
.icomoon-servizi-bancari-finanziari-assicurativi:before {
  content: "\e96e";
}
.icomoon-servizi-formativi-educativi:before {
  content: "\e96f";
}
.icomoon-servizi-medico-sanitari-assistenziali:before {
  content: "\e970";
}
.icomoon-spesa-ristorazione:before {
  content: "\e971";
}
.icomoon-telefonia:before {
  content: "\e98b";
}
.icomoon-trasporto-parcheggi:before {
  content: "\e98c";
}
.icomoon-arredamento:before {
  content: "\e98d";
}
.icomoon-sport:before {
  content: "\e98e";
}
.icomoon-immobiliare:before {
  content: "\e996";
}
.icomoon-auto:before {
  content: "\e997";
}
.icomoon-altro:before {
  content: "\e998";
}
.icomoon-due-ruote:before {
  content: "\e999";
}
.icomoon-abbigliamento:before {
  content: "\e99a";
}
.icomoon-regali:before {
  content: "\e99b";
}
.icomoon-tempo-libero:before {
  content: "\e99c";
}
.icomoon-word:before {
  content: "\e97d";
}
.icomoon-web:before {
  content: "\e97e";
}
.icomoon-video:before {
  content: "\e97f";
}
.icomoon-img:before {
  content: "\e982";
}
.icomoon-altro2:before {
  content: "\e985";
}
.icomoon-document-audio:before {
  content: "\e980";
}
.icomoon-document-excel:before {
  content: "\e981";
}
.icomoon-document-ppt:before {
  content: "\e99d";
}
.icomoon-discuss-issue:before {
  content: "\e99e";
}
.icomoon-placeholder-2:before {
  content: "\e99f";
}
.icomoon-tickets:before {
  content: "\e9a0";
}
.icomoon-group-7:before {
  content: "\e9a6";
}
.icomoon-calendar-scadenza:before {
  content: "\e9a8";
}
.icomoon-document-3:before {
  content: "\e9a9";
}
.icomoon-graphic-view:before {
  content: "\e9aa";
  color: #455;
}
.icomoon-txt-view:before {
  content: "\e9ab";
  color: #455;
}
.icomoon-tag:before {
  content: "\e9ad";
}
.icomoon-phone-call:before {
  content: "\e9ae";
}
.icomoon-print2:before {
  content: "\e98f";
}
.icomoon-software:before {
  content: "\e990";
}
.icomoon-server:before {
  content: "\e991";
}
.icomoon-computer:before {
  content: "\e992";
}
.icomoon-trash1:before {
  content: "\e993";
}
.icomoon-file:before {
  content: "\e994";
}
.icomoon-cart:before {
  content: "\e995";
}
.icomoon-cart-2:before {
  content: "\e9af";
}
.icomoon-cart-3:before {
  content: "\e9b0";
}
.icomoon-condividi-stampanti:before {
  content: "\e9b1";
}
.icomoon-folder:before {
  content: "\e9b2";
}
.icomoon-email-servizi:before {
  content: "\e9bb";
}
.icomoon-altro-richiesta:before {
  content: "\e9bc";
}
.icomoon-question:before {
  content: "\e9bd";
}
.icomoon-profile:before {
  content: "\e9be";
}
.icomoon-search-richiesta:before {
  content: "\e9bf";
}
.icomoon-group-21:before {
  content: "\e9c0";
}
.icomoon-pdf-border:before {
  content: "\e9c1";
}
.icomoon-add-documents:before {
  content: "\e9a7";
}
.icomoon-user2:before {
  content: "\e9a1";
}
.icomoon-categoria-informatica:before {
  content: "\e9a2";
}
.icomoon-categoria-personale:before {
  content: "\e9a3";
}
.icomoon-categoria-logistica:before {
  content: "\e9a4";
}
.icomoon-question3:before {
  content: "\e9a5";
}
.icomoon-question2:before {
  content: "\e9c2";
}
.icomoon-question1:before {
  content: "\e9c3";
}
.icomoon-lock:before {
  content: "\e9c4";
}
.icomoon-unlocked:before {
  content: "\e9c5";
}
.icomoon-partecipanti:before {
  content: "\e9c6";
}
.icomoon-scarso:before {
  content: "\e9c7";
}
.icomoon-sufficente:before {
  content: "\e9c8";
}
.icomoon-buono:before {
  content: "\e9c9";
}
.icomoon-book:before {
  content: "\e9ca";
}
.icomoon-allegati:before {
  content: "\e9cb";
}
.icomoon-circolari:before {
  content: "\e9cc";
}
.icomoon-collocazione:before {
  content: "\e9b3";
}
.icomoon-glossario:before {
  content: "\e9b4";
}
.icomoon-stampa:before {
  content: "\e9b5";
}
.icomoon-uffici:before {
  content: "\e9b6";
}
.icomoon-picture:before {
  content: "\e9b7";
}
.icomoon-photo-camera:before {
  content: "\e9b8";
}
.icomoon-commento:before {
  content: "\e9b9";
}
.icomoon-info-icon:before {
  content: "\e9ba";
}
.icomoon-social-linkedin:before {
  content: "\e9cd";
}
.icomoon-assistenza:before {
  content: "\e9ce";
}
