$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icomoon-posti: "\e9ac";
$icomoon-cestino: "\e900";
$icomoon-survey: "\e901";
$icomoon-forum: "\e902";
$icomoon-wiki: "\e903";
$icomoon-calendario: "\e904";
$icomoon-preferiti: "\e905";
$icomoon-documenti2: "\e90c";
$icomoon-task: "\e90d";
$icomoon-home2: "\e90e";
$icomoon-contatti: "\e90f";
$icomoon-community: "\e910";
$icomoon-preferiti2: "\e919";
$icomoon-spazi_personali: "\e91a";
$icomoon-gruppi_di_lavoro: "\e920";
$icomoon-documenti: "\e921";
$icomoon-to_do_list: "\e922";
$icomoon-la_mia_home: "\e923";
$icomoon-user: "\e911";
$icomoon-search: "\e906";
$icomoon-apps: "\e907";
$icomoon-notification: "\e908";
$icomoon-favourites: "\e909";
$icomoon-exit: "\e924";
$icomoon-vai: "\e92b";
$icomoon-user3: "\e925";
$icomoon-convenzioni-post-blu: "\e92c";
$icomoon-mepa: "\e926";
$icomoon-ferie-festivita: "\e927";
$icomoon-straordinari: "\e928";
$icomoon-buoni-pasto: "\e929";
$icomoon-timbrature: "\e92d";
$icomoon-fax: "\e92e";
$icomoon-rubrica-tel: "\e92f";
$icomoon-profilo-mobile: "\e930";
$icomoon-ico-r: "\e931";
$icomoon-ico-a: "\e91f";
$icomoon-rubrica: "\e91d";
$icomoon-requests: "\e91e";
$icomoon-mail: "\e91b";
$icomoon-protocollo: "\e91c";
$icomoon-ufficio-passi: "\e90a";
$icomoon-banche-dati: "\e90b";
$icomoon-rassegna-stampa: "\e932";
$icomoon-ico-requests: "\e933";
$icomoon-settings: "\e934";
$icomoon-retweet: "\e935";
$icomoon-comment: "\e93c";
$icomoon-quotation-marks-open: "\e93d";
$icomoon-quotation-marks-close: "\e93e";
$icomoon-camera-multim: "\e93f";
$icomoon-video-multim: "\e940";
$icomoon-info: "\e941";
$icomoon-pin: "\e942";
$icomoon-time: "\e913";
$icomoon-e-mail: "\e914";
$icomoon-phone: "\e915";
$icomoon-location: "\e916";
$icomoon-whisteblowing: "\e92a";
$icomoon-social-twitter: "\e917";
$icomoon-social-telegram: "\e918";
$icomoon-social-instagram: "\e943";
$icomoon-social-youtube: "\e944";
$icomoon-social-flickr: "\e945";
$icomoon-star-color: "\e946";
$icomoon-plus: "\e94e";
$icomoon-alert: "\e94f";
$icomoon-vedi-dark: "\e950";
$icomoon-edi: "\e951";
$icomoon-delete: "\e952";
$icomoon-edit-border: "\e953";
$icomoon-star-border: "\e954";
$icomoon-add-border: "\e936";
$icomoon-send-mail: "\e937";
$icomoon-edit-tools: "\e938";
$icomoon-star: "\e939";
$icomoon-home: "\e93a";
$icomoon-download: "\e93b";
$icomoon-calendar: "\e912";
$icomoon-pdf: "\e955";
$icomoon-arrow: "\e956";
$icomoon-categoria-generale: "\e957";
$icomoon-calendar-date: "\e958";
$icomoon-visits: "\e95f";
$icomoon-chiudi-dark: "\e960";
$icomoon-link-button: "\e961";
$icomoon-close-white: "\e962";
$icomoon-arrow-dx: "\e963";
$icomoon-personalizza: "\e964";
$icomoon-play: "\e965";
$icomoon-reduct-screen: "\e947";
$icomoon-fullscreen: "\e948";
$icomoon-pause: "\e949";
$icomoon-update: "\e94a";
$icomoon-hourglass: "\e94b";
$icomoon-success-blu: "\e94c";
$icomoon-riunione-wait: "\e94d";
$icomoon-riunione-ok: "\e966";
$icomoon-riunione-ko: "\e968";
$icomoon-print: "\e969";
$icomoon-meeting: "\e96a";
$icomoon-cancel: "\e972";
$icomoon-riunione-alert: "\e973";
$icomoon-sollecito-mail: "\e974";
$icomoon-convocanti: "\e975";
$icomoon-location2: "\e976";
$icomoon-dati: "\e977";
$icomoon-stato: "\e978";
$icomoon-invitati: "\e959";
$icomoon-pin-white-bold: "\e95a";
$icomoon-success: "\e95b";
$icomoon-evoluzione-stato: "\e95c";
$icomoon-trash: "\e967";
$icomoon-video-file: "\e95d";
$icomoon-setting-file: "\e95e";
$icomoon-zip-file: "\e979";
$icomoon-generic-file: "\e97a";
$icomoon-image-file: "\e97b";
$icomoon-pdf-file: "\e97c";
$icomoon-ppt-file: "\e983";
$icomoon-word-file: "\e984";
$icomoon-xls-file: "\e986";
$icomoon-audio-file: "\e987";
$icomoon-ministero: "\e988";
$icomoon-dipartimento: "\e989";
$icomoon-less: "\e98a";
$icomoon-link-utili: "\e96b";
$icomoon-cultura: "\e96c";
$icomoon-sport-tempo-libero: "\e96d";
$icomoon-servizi-bancari-finanziari-assicurativi: "\e96e";
$icomoon-servizi-formativi-educativi: "\e96f";
$icomoon-servizi-medico-sanitari-assistenziali: "\e970";
$icomoon-spesa-ristorazione: "\e971";
$icomoon-telefonia: "\e98b";
$icomoon-trasporto-parcheggi: "\e98c";
$icomoon-arredamento: "\e98d";
$icomoon-sport: "\e98e";
$icomoon-immobiliare: "\e996";
$icomoon-auto: "\e997";
$icomoon-altro: "\e998";
$icomoon-due-ruote: "\e999";
$icomoon-abbigliamento: "\e99a";
$icomoon-regali: "\e99b";
$icomoon-tempo-libero: "\e99c";
$icomoon-word: "\e97d";
$icomoon-web: "\e97e";
$icomoon-video: "\e97f";
$icomoon-img: "\e982";
$icomoon-altro2: "\e985";
$icomoon-document-audio: "\e980";
$icomoon-document-excel: "\e981";
$icomoon-document-ppt: "\e99d";
$icomoon-discuss-issue: "\e99e";
$icomoon-placeholder-2: "\e99f";
$icomoon-tickets: "\e9a0";
$icomoon-group-7: "\e9a6";
$icomoon-calendar-scadenza: "\e9a8";
$icomoon-document-3: "\e9a9";
$icomoon-graphic-view: "\e9aa";
$icomoon-txt-view: "\e9ab";
$icomoon-tag: "\e9ad";
$icomoon-phone-call: "\e9ae";
$icomoon-print2: "\e98f";
$icomoon-software: "\e990";
$icomoon-server: "\e991";
$icomoon-computer: "\e992";
$icomoon-trash1: "\e993";
$icomoon-file: "\e994";
$icomoon-cart: "\e995";
$icomoon-cart-2: "\e9af";
$icomoon-cart-3: "\e9b0";
$icomoon-condividi-stampanti: "\e9b1";
$icomoon-folder: "\e9b2";
$icomoon-email-servizi: "\e9bb";
$icomoon-altro-richiesta: "\e9bc";
$icomoon-question: "\e9bd";
$icomoon-profile: "\e9be";
$icomoon-search-richiesta: "\e9bf";
$icomoon-group-21: "\e9c0";
$icomoon-pdf-border: "\e9c1";
$icomoon-add-documents: "\e9a7";
$icomoon-user2: "\e9a1";
$icomoon-categoria-informatica: "\e9a2";
$icomoon-categoria-personale: "\e9a3";
$icomoon-categoria-logistica: "\e9a4";
$icomoon-question3: "\e9a5";
$icomoon-question2: "\e9c2";
$icomoon-question1: "\e9c3";
$icomoon-lock: "\e9c4";
$icomoon-unlocked: "\e9c5";
$icomoon-partecipanti: "\e9c6";
$icomoon-scarso: "\e9c7";
$icomoon-sufficente: "\e9c8";
$icomoon-buono: "\e9c9";
$icomoon-book: "\e9ca";
$icomoon-allegati: "\e9cb";
$icomoon-circolari: "\e9cc";
$icomoon-collocazione: "\e9b3";
$icomoon-glossario: "\e9b4";
$icomoon-stampa: "\e9b5";
$icomoon-uffici: "\e9b6";
$icomoon-picture: "\e9b7";
$icomoon-photo-camera: "\e9b8";
$icomoon-commento: "\e9b9";
$icomoon-info-icon: "\e9ba";
$icomoon-social-linkedin: "\e9cd";
$icomoon-assistenza: "\e9ce";

